* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #0f4a85;
}

.input-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#input-text {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-btn {
    padding: 10px 20px;
    background-color: #71a2d3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-btn:hover {
    background-color: #3986d2;
}

ul {
    list-style: none;
}

li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid #a0bedc 2px;
}

li.checked {  
    text-decoration: line-through;
    color: #999;
    background-color: #affbf6a5;
}

li button {
    background-image: url("../assets/Delete.png") ;
    background-repeat: no-repeat; 	
    background-size: 24px 24px;
    background-position: center;
    min-height: 28px;
    min-width: 28px;
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    border-radius: 7px;
    cursor: pointer;
}

li button:hover {
    background-color: #f7717fd4;
}